body{
	padding: 3% 10%;
	background-color: grey;
	color: white;
}
.title{
	width: 100%;
}
.description_text{
	padding: 15px 0;
}
.navi{
	font-size: 15px;
}
.navi a{
	text-decoration: none;
	color: white;
}
.option ul{
	list-style-type: none;
}
.option ul li{
	display: inline-block;
}
.option ul li .btn_default{
	padding: 5px 15px;
	border-radius: 7px;
}
.col12{
	width: 100%;
}
.col6{
	width: 48%;
	float: left;
	padding: 0 1%;
}
.crop #height, .crop #width{
    display: none;
}