<!DOCTYPE html>
<html>
<head>
    <title>Compress</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jquery-ui.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/jquery.Jcrop.css') }}">
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery-ui.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/jquery.Jcrop.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='js/custom.js') }}"></script>

</head> 
<body>
<a href="{{url_for('index')}}"><div class="title"><h1>Helloworld</h1></div></a>
<div class="content">
    <ul>
        <li><button class="btn_cpr">Compress</button></li>
        <li><button class="btn_crop">Crop</button></li>
        <li><button class="btn_rot">Rotate</button></li>
    </ul>
    <img class="origin" id="target" src="{{ url_for('static',filename= 'images/origin/' + image) }}">
    <span>{{ size }}</span>
    {% if formCpr %}
    <form class="crop" action="/compress/{{image}}" method="post">
        {{formCpr.hidden_tag()}}
        <p> Enter the quality : {{formCpr.quality(size=1, value=50)}}</p>
        <div class="slider"></div>
        <p><input type="submit" value="Compress"></p>
    </form>
    {% endif %}
    {% if formRot %}
    <form class="crop" action="/rotate/{{image}}" method="post">
        {{formRot.hidden_tag()}}
        <p>{{formRot.vertically}} Vertically</p>
        <p> {{formRot.horizontally}} Horizontally</p>
        <p>Degrees: {{formRot.rotate}}</p>
        <p><input type="submit" value="Rotate"></p>
    </form>
    {% endif %}
    {% if formCrop %}
    <form class="crop" action="/crop/{{image}}" method="post">
        {{formCrop.hidden_tag()}}
        <p>{{formCrop.x1}}</p>
        <p>{{formCrop.y1}}</p>
        <p>{{formCrop.x2}}</p>
        <p>{{formCrop.y2}}</p>
        <p>{{formCrop.height}}</p>
        <p>{{formCrop.width}}</p>
        <p><input type="submit" value="Crop"></p>
    </form>
    {% endif %}
    {% if posts %}
    <img src="{{ url_for('static',filename= 'images/compress/' + posts[0]) }}">
    <span>{{ posts[1] }}</span>
    {% endif %}
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $(".btn_crop").click(function(){
            var url = '{{ url_for('crop', image=image)}}';
            window.location.href = url;
        });

        $(".btn_cpr").click(function(){
            var url = '{{ url_for('compress', image=image)}}';
            window.location.href = url;
        });

        $(".btn_rot").click(function(){
            var url = '{{ url_for('rotate', image=image)}}';
            window.location.href = url;
        });
    })
</script>
</body>
</html>
